@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #f8fafc; /* slate-50 */
  color: #0f172a; /* slate-900-ish */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
}

#root {
  min-height: 100vh;
}

